{% extends 'base.html.twig' %}

{% block title %}Add Clock Entry{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4 mt-4 text-center">Add Clock Entry</h1>

    <div class="max-w-xl mx-auto bg-white p-6 rounded shadow">
        {{ form_start(form) }}
        {% for field in form %}
            {% if field.vars.name != '_token' and field.vars.name != 'save' %}
            <div class="mb-4">
                {{ form_label(field, null, { 'label_attr': {'class': 'block text-gray-700 font-semibold mb-1'} }) }}
                {{ form_widget(field, { 'attr': {'class': 'w-full border border-gray-300 p-2 rounded'} }) }}
            </div>
            {% endif %}
        {% endfor %}
        <button class="bg-green-400 text-white px-4 py-2 rounded hover:bg-green-500 place-content-center" type="submit">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
