{% extends 'base.html.twig' %}


{% block body %}
    <h1>All Clock Entries</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.startTime|date('Y-m-d H:i:s') }}</td>
                <td>{{ entry.endTime|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}